<div class="wrap">
  <section class="list-card">
    <h1>Lista de Libros de la Biblioteca</h1>

    <div class="filter-section">
      <h2>Búsqueda</h2>
    
      <div class="searchbar filter-wrapper">
        <input
          type="text"
          [formControl]="search"
          placeholder=" 🔎 Buscar por cualquier atributo..."
        />
      
        <button class="filter-btn" (click)="toggleFilter()">🔽 Filtro </button>
      
        @if (showFilter) {
          <div class="filter-menu">
            <select
              [value]="availabilityFilter()"
              (change)="availabilityFilter.set($any($event.target).value)"
            >
              <option value="all">Todos</option>
              <option value="available">Disponibles</option>
              <option value="unavailable">No disponibles</option>
            </select>
          </div>
        }
      </div>
    </div>

    @let books = this.filteredBooks();

    @if (isLoading()) {
      <p>Cargando Libros...</p>
    } @else if (books && books.length > 0) {
      <div class="table-scroll">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>ISBN</th>
              <th>Título</th>
              <th>Autor</th>
              <th>Categoría</th>
              <th>Año de publicación</th>
              <th>Sinopsis</th>
              <th>Disponible en biblioteca</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @for (book of books; track book.id) {
              <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.ISBN }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.category }}</td>
                <td>{{ book.publicationYear }}</td>
                <td>{{ book.synopsis }}</td>
                @if (book.available) {
                  <td style="color: green;">Sí</td>
                } @else {
                  <td style="color: red;">No</td>
                }
                <td><button (click)="navigateToDetails(book.id!)">Ver detalle</button></td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    } @else {
      <p>No hay libros cargados...</p>
    }
  </section>

</div>
