<h1>Lista de Libros disponibles</h1>
@let books = this.books();

@if (isLoading()) {
    <p>Cargando Libros...</p>
} @else if (books && books.length > 0) {
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>ISBN</th>
                <th>Título</th>
                <th>Autor</th>
                <th>Categoría</th>
                <th>Año de publicación</th>
                <th>Sinopsis</th>
                <th>Disponible en biblioteca</th>
            </tr>
        </thead>
        <tbody>
            @for (book of books; track book.id) {
                <tr>
                    <td>{{ book.id }}</td>
                    <td>{{ book.ISBN }}</td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.category }}</td>
                    <td>{{ book.publicationYear }}</td>
                    <td>{{ book.synopsis }}</td>
                    <td>{{ book.available ? 'Sí' : 'No' }}</td>
                    <td><button (click)="navigateToDetails(book.id!)">Ver detalle</button></td>
                </tr>
            }
        </tbody>
    </table>
} @else {
    <p>No hay libros cargados...</p>
}
