<div class="wrap">
  <section class="list-card">
    <h1>Lista de Devoluciones</h1>

    <div class="filter-section">

      <h2>Búsqueda</h2>
      <div class="searchbar">   
        <input
          type="text"
          [formControl]="search"
          placeholder=" 🔎 Buscar por ID de Devolución o Préstamo..."
        />
      </div>
    
      <div class="date-filters">
        <label>Desde</label>
        <input type="date" [formControl]="startDate">
      
        <label>Hasta</label>
        <input type="date" [formControl]="endDate">
        <button class="clear-btn" (click)="resetDateFilters()">Limpiar</button>
      </div>
    
    </div>

    @let bookReturns = this.filteredBookReturns();

    @if (isLoading()) {
      <p>Cargando Devoluciones...</p>
    } @else if (bookReturns && bookReturns.length > 0) {
      <div class="table-scroll">
        <table>
          <thead>
            <tr>
              <th>ID Devolución</th>
              <th>ID Préstamo</th>
              <th>Libro</th>
              <th>Fecha de Devolución</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @for (bookReturn of bookReturns; track bookReturn.id) {

              @let book = this.bookReturnClient.getBookByLoanId(bookReturn.loanId)!;
              <tr>
                <td>{{ bookReturn.id }}</td>
                <td>{{ bookReturn.loanId }}</td>
                <td>{{ book ? book.title : 'Cargando...' }}</td>
                <td>{{ bookReturn.returnDate | date:'dd/MM/yyyy' }}</td>
                <td>
                  <button (click)="navigateToDetails(bookReturn.id!)">Ver detalle</button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    } @else {
      <p>No hay devoluciones cargadas...</p>
    }
  </section>
</div>
