@let book = this.book();

@if (book) {
    <h2>{{ book.title }}</h2>
    <p>publicationYear: {{ book.publicationYear }} año
    @if (book.synopsis) {
        <h3>Sinópsis</h3>
        <p>{{ book.synopsis }}</p>
    }
    <div>
        <button (click)="toggleEdit()">Editar</button>
        <button (click)="deleteBook()" [disabled]="isEditing()">Borrar</button>
    </div>

    @if (isEditing()) {
        <app-book-form [isEditing]="true" [book]="book" (edited)="handleEdit($event)"></app-book-form>
    }
} @else {
    <p>No se encontró el libro</p>
}