<div class="wrap">
  <form [formGroup]="form" (ngSubmit)="handleSubmit()">
    <h2>{{ isEditing() ? 'Editando Libro' : 'Agregar Libro' }}</h2>

    <div class="form-field">
      <label for="ISBN">ISBN</label>
      <input
        type="text"
        id="ISBN"
        formControlName="ISBN"
        placeholder="978-3-16-148410-0"
        (input)="checkISBN()"
      >
      @if (ISBN.invalid && ISBN.dirty) {
        <span class="errors">
          @if (ISBN.hasError('required')) {
            El ISBN es requerido
          }
          @else if (ISBN.hasError('pattern')) {
            Formato inválido. Ejemplo válido: 978-3-16-148410-0
          }
          @else if (ISBN.hasError('noHyphen')) {
            Faltan guiones en el ISBN. Formato ejemplo: 978-84-450-1788-3
          }
        </span>
      }
      @if (ISBN.hasError('exists')) {
        <span class="errors"> Ya existe un libro con ese ISBN </span>
      }      

    </div>

    <div class="form-field">
      <label for="title">Título</label>
      <input type="text" id="title" formControlName="title" placeholder="Sherlock Holmes">
      @if (title.hasError('required') && title.dirty) {
        <span class="errors">El título es requerido</span>
      }
    </div>

    <div class="form-field">
      <label for="author">Autor</label>
      <input type="text" id="author" formControlName="author" placeholder="Arthur Conan Doyle">
      @if (author.hasError('required') && author.dirty) {
        <span class="errors">El autor es requerido</span>
      }
      @if (author.hasError('pattern') && author.dirty) {
        <span class="errors">No se permiten números</span>
      }      
    </div>

    <div class="form-field">
      <label for="category">Categoría</label>
      <select id="category" formControlName="category">
        <option value="" selected disabled>Seleccione una categoría</option>
        @for (category of categories; track $index) {
          <option [value]="category">{{ category }}</option>
        }
      </select>
    </div>

    <div class="form-field">
      <label for="publicationYear">Año de publicación</label>
      <input type="number" id="publicationYear" formControlName="publicationYear" min="0" placeholder="2021">
      @if (publicationYear.dirty) {
        @if (publicationYear.hasError('required')) {
          <span class="errors">El año de publicación es requerido</span>
        } @else if (publicationYear.hasError('min')) {
          <span class="errors">El año de publicación debe ser mayor o igual a 0</span>
        }@else if (publicationYear.hasError('pattern')) {
          <span class="errors">Formato inválido. El año debe tener entre 1 y 4 dígitos</span>
        }
      }
    </div>

    <div class="form-field">
      <label for="synopsis">Sinopsis (Opcional)</label>
      <textarea id="synopsis" formControlName="synopsis" rows="4"></textarea>
    </div>

    <div class="form-field">
      <label for="available">Disponible en biblioteca</label>
      <input type="checkbox" id="available" formControlName="available">
    </div>

    <div class="form-actions">
      <button type="reset">Limpiar formulario</button>
      <button type="submit" [disabled]="form.invalid">Enviar</button>
    </div>
  </form>
</div>
