.caps-alert {
  color: #c95d4c;
  font-size: 1.0rem;
  margin-top: -10px;
  margin-bottom: 10px;
}

/* Contraseña con botón */
.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  flex: 1;
  padding-right: 40px; 
}

.toggle-btn {
  position: absolute;
  right: 8px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.login-page .wrap form input {
  height: 40px;             
  padding: 8px 12px;       
  border-radius: 6px;        
  border: 1px solid #ccc;   
  font-size: 1rem;           
  box-sizing: border-box;    
}
