<div class="wrap">
  <section class="list-card">
    <h1>Lista de Usuarios</h1>
    <div class="filter-section">
      <h2>Búsqueda</h2>
      <div class="searchbar">   
        <input
          type="text"
          [formControl]="search"
          placeholder=" 🔎 Buscar por nombre de usuario..."
        />
      </div>
    </div>

    @let users = this.filteredUsers();

    @if (isLoading()) {
      <p>Cargando Usuarios...</p>
    } @else if (users && users.length > 0) {
      <div class="table-scroll">
        <table>
          <thead>
            <tr>
              <th>Username</th>
              <th>Password</th>
              <th>Is Admin</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @for (user of users; track user.username) {
              <tr>
                <td>{{ user.username }}</td>
                <td>********</td>
                <td>{{ user.isAdmin }}</td>
                <td><button (click)="navigateToDetails(user.id!)">Ver detalle</button></td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    } @else {
      <p>No hay usuarios cargados...</p>
    }
  </section>

</div>
